<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545737859384-pi1sli865e8k6hclfa0smdqbn7dggfgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545737859384-pi1sli865e8k6hclfa0smdqbn7dggfgg</string>
	<key>API_KEY</key>
	<string>AIzaSyB3coyyrRqwG1OF8JRe7zPM9UoROcJu24E</string>
	<key>GCM_SENDER_ID</key>
	<string>545737859384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kau.com.IdeaStation</string>
	<key>PROJECT_ID</key>
	<string>ideaseed-609dd</string>
	<key>STORAGE_BUCKET</key>
	<string>ideaseed-609dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545737859384:ios:2890a65df0a44eeefca1cd</string>
	<key>DATABASE_URL</key>
	<string>https://ideaseed-609dd.firebaseio.com</string>
</dict>
</plist>